html {
    font-size:18px;
}
body {
    background-color: #f2f2f2;
}
.navbar-custom {
    background-color: #353839;
}

.content-nav{
    padding-left:40px;
    padding-right:40px;
}


.project-next {
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    padding-top: 40px;
}
.tech-icon {
    width:30px;
    height:30px;
}
#border-header {
    background-color: #383838;
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    position: fixed;
    top: 0;
    z-index:1000;
    width: 100%;
}
.mailinglist-box {
    display:flex; 
    flex-direction: row;
}
@media(max-width:400px) {
    .mailinglist-box {
        flex-direction: column;
    }
}
#breadcrumbs {
    font-size: 10px;
}
#breadcrumbs img {
    width: 10px;
    height: 10px;
}
#border-header-nav {
    display: flex;
    font-size:16px;
    align-items: center;
}
#border-header-nav div {
    margin: 0 auto;
}
#border-header-search {
    padding-top: 10px;
    padding-bottom: 10px;
}
#border-header-nav a:link {
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
}
#site-title {
    display: flex;
    margin-top: 25px;
    padding-top: 80px;
    padding-bottom: 100px;
    font-size: 60px;
}
.content {
    padding-left:40px;
    padding-right:40px;
    position: relative;
}

.indexlistpost {
    display: flex;
    flex-direction: column;
    margin: auto auto;
}

.articlelistpost {
    display: flex;
    flex-direction: column;
}

.blogpostheader {
    display: flex;
    flex-direction: row;
}

@media(max-width:500px) {
    .blogpostheader {
        display: flex;
        flex-direction: column;
    }
}



.bloglistpost {
    display: flex;
    flex-direction: column;
    margin: auto auto;
    padding-bottom: 100px;
}
.bloglistpostdate {
    font-size:10px;
    padding-right: 20px;
}
.bloglistpostname {
    display:flex;
    font-size: 40px;
    padding-top:5px;
    padding-bottom:30px;
    color:#353839;
}
.bloglistpostcontent {
    color: #353839;
    word-spacing: 5px;
}
.bloglistposttags {
    font-size:12px;
}
.blogpostreadmore {
    padding-top: 15px;
    font-size: 14px;
    text-align: right;
}
.iconic-svg {
    height:12px;
    width:12px;
    margin-right:5px;
}
.iconic-svg-small {
    height:12px;
    width:12px;
    margin-right:5px;
}
.iconic-svg-header {
    height:20px;
    width:20px;
    margin-right:5px;
}

.content-intro{
    color: white;
    padding-left:40px;
    padding-right:40px;
}
.content-intro a:link{
    color: white;
    text-decoration: none;
}
.content-intro a:visited{
    color: white;
}
.content-intro a:hover{
    color: white;
    border-bottom: dotted 1px;
}
.content-intro a:active{
    color: white;
}



#footer {
    background-color: #0099cc;
}
.footer-content {
    color: #353839;
}
.footer-content a:link {
    color: #353839;
    text-decoration: none;
}
.footer-content a:visited {
    color: #353839;
}
.footer-content a:hover {
    color: #353839;
    border-bottom: none;
}
.footer-content a:active {
    color: #353839;
}
.footer-resource{
    display:flex; 
    flex-direction: row;
    justify-content: space-around;
}
@media(max-width:800px) {
    .footer-resource{
        display:flex; 
        flex-direction: column;
    }
}
.footer-resource-item{
    display:flex; 
    flex-direction: column;
    max-width: 50%;
}
@media(max-width:800px) {
    .footer-resource-item{
        display:flex;
        max-width: 100%;
    }
}
.project-comp{
    margin-left:30px;
    padding-left:30px;
    float:right;
    width:400px;
    border-left-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, .06);
}
@media(max-width:999px) {
    .project-comp{
        margin:0px;
        padding:0px;
        float: none;
        width:100%;
        border-left-style: none;
    }
}
.content a:link {
    color: #353839;
    text-decoration: none;
}
.content a:visited {
    color: #353839;
}
.content a:hover {
    color: #353839;
    border-bottom: dotted 1px;
}
.content a:active {
    color: #353839;
}




/** used for markdown conversion **/
.article-post .title {
  margin: 0;
  font-size: 50px;
   color: #353839;
}
.article-post img{
    border: 1px dotted;
    border-radius: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
@media(max-width:700px) {
    .article-post img{
        width:100%;
    }
}  
.article-post pre {
  background-color: rgb(236, 236, 236);
  border-radius: 3px;
  padding: 40px;
}
.article-post {
  color: #353839;
}
.article-post small {
  color: #353839;
}
.article-post small a {
  color: #353839;
}
.article-post small span {}
.article-post small span a:hover{
  color:#353839;
  text-decoration: none;
}
.article-post h3 {
    padding-top:40px;
  padding-bottom:20px;
  color:#353839;
}

.article-post h5 {
  padding-bottom:20px;
  color:#353839;
}
.article-post p {
  height:auto;
}
.article-post a {
  color: #353839;
  text-decoration: none;
  border-width: 1px;
  border-bottom-style: dotted;
}
.article-post a:hover {
  color: #353839;
  border-width: 1px;
  border-bottom-style: dotted;
}
.markdown-info{
    margin-top: 30px;
    margin-bottom: 30px;
    display:flex;
    flex-direction: column;
}
.markdown-info-header {
    color: white;
    padding-left: 20px;
    font-size:18px;
    background-color: rgb(120, 177, 220);
}
.markdown-info-body {
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(233, 242, 251);
    padding-bottom: 30px;
    padding-top: 30px;  
}
.markdown-tip{
    margin-top: 30px;
    margin-bottom: 30px;
}
.markdown-tip-header {
    color: white;
    padding-left: 20px;
    font-size:18px;
    background-color: rgb(78, 187, 156);
}
.markdown-tip-body {
    color: black;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: rgb(222, 252, 244);
}