body {
    background-color: #f2f2f2;
}

/*
Removes white gap between slides - chagnge to base color of slide images
*/
.carousel {
    background:#007aeb;
  }
  
  /*
  Forces image to be 100% width and not max width of 100%
  */
  .carousel-item .img-fluid {
    width:100%;
  }
  
  /* 
  anchors are inline so you need ot make them block to go full width
  */
  .carousel-item a {
    display: block;
    width:100%;
  }

.project-next {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    padding-top: 40px;
}
.tech-icon {
    width:40px;
    height:40px;
}
#border-header {
    background-color: #383838;
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    position: fixed;
    top: 0;
    z-index:1000;
    width: 100%;
}
#breadcrumbs {
    font-size: 10px;
    padding-top: 80px;
}
#breadcrumbs img {
    width: 10px;
    height: 10px;
}
#border-header-nav {
    display: flex;
    font-size:16px;
    align-items: center;
}
#border-header-nav div {
    margin: 0 auto;
}
#border-header-search {
    padding-top: 10px;
    padding-bottom: 10px;
}
#border-header-nav a:link {
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
}
#border-header-nav a:visited {
}
#border-header-nav a:hover {
    border-bottom: dotted 1px white;
}
#border-header-nav a:active {
}
#site-title {
    display: flex;
    margin-top: 25px;
    padding-top: 80px;
    padding-bottom: 100px;
    font-size: 60px;
}
.content {
    max-width: 1000px;
    padding-bottom: 80px;
    padding-left:40px;
    padding-right:40px;
    margin: auto auto;
    background-color: white;
}

.indexlistpost {
    display: flex;
    flex-direction: column;
    margin: auto auto;
}

.articlelistpost {
    display: flex;
    flex-direction: column;
}

.blogpostheader {
    display: flex;
    flex-direction: row;
    font-weight: bold;
}



.bloglistpost {
    display: flex;
    flex-direction: column;
    margin: auto auto;
    padding-bottom: 100px;
}
.bloglistpostdate {
    font-size:12px;
    padding-right: 20px;
}
.bloglistpostname {
    display:flex;
    font-size: 40px;
    font-weight: 600;
    padding-top:5px;
    padding-bottom:30px;
    color:#383838;
}
.bloglistpostcontent {
    color: darkgray;
    word-spacing: 5px;
}
.bloglistposttags {
    font-size:12px;
}
.blogpostreadmore {
    padding-top: 15px;
    font-size: 14px;
    text-align: right;
}
.iconic-svg {
    height:15px;
    width:15px;
    margin-right:5px;
}
.iconic-svg-small {
    height:12px;
    width:12px;
    margin-right:5px;
}
.iconic-svg-header {
    height:20px;
    width:20px;
    margin-right:5px;
}
#footer {
    background-color: #233452;
    padding-top: 100px;
    padding-bottom: 100px;
}
#footer-content {
    margin: auto;
    color: white;
    max-width: 1000px;
    padding-left:40px;
    padding-right:40px;
}
.footer-images {
    display:flex; 
    flex-direction: row; 
    padding-top:50px;
}
@media(max-width:650px) {
    .footer-images {
        flex-direction: column; 
    }
}

.content a:link {
    color: #233452;
    text-decoration: none;
}
.content a:visited {
}
.content a:hover {
    border-bottom: dotted 1px;
}
.content a:active {
}









/** used for markdown conversion **/
.article-post .title {
  margin: 0;
  font-size: 50px;
   color: #233452;
}
.article-post img{
    width:100%;
    border: 1px dotted;
    border-radius: 3px;
}
  
.article-post pre {
  background-color: rgb(236, 236, 236);
  border-radius: 3px;
  padding: 15px;
  padding-left: 20px;
}
.article-post {
  color: #233452;
}
.article-post small {
  color: #233452;
}
.article-post small a {
  color: #233452;
}
.article-post small span {}
.article-post small span a:hover{
  color:#383838;
  text-decoration: none;
}
.article-post h3 {
  padding-top:40px;
  padding-bottom:20px;
  color:#383838;
}

.article-post h5 {
  padding-bottom:20px;
  color:#383838;
}
.article-post p {
  height:auto;
}
.article-post a {
  color: #233452;
  text-decoration: none;
  border-width: 1px;
  border-bottom-style: dotted;
}
.article-post a:hover {
  color: #233452;
  border-width: 1px;
  border-bottom-style: dotted;
}