html {
    font-size:16px;
}
body {
    background-color: #f2f2f2;
}
.navbar-custom {
    background-color: #353839;
}

.content-nav{
    padding-left:40px;
    padding-right:40px;
}


.project-next {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    padding-top: 40px;
}
.tech-icon {
    width:30px;
    height:30px;
}
#border-header {
    background-color: #383838;
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    position: fixed;
    top: 0;
    z-index:1000;
    width: 100%;
}
#breadcrumbs {
    font-size: 10px;
}
#breadcrumbs img {
    width: 10px;
    height: 10px;
}
#border-header-nav {
    display: flex;
    font-size:16px;
    align-items: center;
}
#border-header-nav div {
    margin: 0 auto;
}
#border-header-search {
    padding-top: 10px;
    padding-bottom: 10px;
}
#border-header-nav a:link {
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
}
#site-title {
    display: flex;
    margin-top: 25px;
    padding-top: 80px;
    padding-bottom: 100px;
    font-size: 60px;
}
.content {
    padding-bottom: 40px;
    padding-left:40px;
    padding-right:40px;
    position: relative;
}

.indexlistpost {
    display: flex;
    flex-direction: column;
    margin: auto auto;
}

.articlelistpost {
    display: flex;
    flex-direction: column;
}

.blogpostheader {
    display: flex;
    flex-direction: row;
}



.bloglistpost {
    display: flex;
    flex-direction: column;
    margin: auto auto;
    padding-bottom: 100px;
}
.bloglistpostdate {
    font-size:10px;
    padding-right: 20px;
}
.bloglistpostname {
    display:flex;
    font-size: 40px;
    padding-top:5px;
    padding-bottom:30px;
    color:#353839;
}
.bloglistpostcontent {
    color: #353839;
    word-spacing: 5px;
}
.bloglistposttags {
    font-size:12px;
}
.blogpostreadmore {
    padding-top: 15px;
    font-size: 14px;
    text-align: right;
}
.iconic-svg {
    height:12px;
    width:12px;
    margin-right:5px;
}
.iconic-svg-small {
    height:12px;
    width:12px;
    margin-right:5px;
}
.iconic-svg-header {
    height:20px;
    width:20px;
    margin-right:5px;
}

.content-intro{
    color: white;
    padding-left:40px;
    padding-right:40px;
}
.content-intro a:link{
    color: white;
    text-decoration: none;
}
.content-intro a:visited{
    color: white;
}
.content-intro a:hover{
    color: white;
    border-bottom: dotted 1px;
}
.content-intro a:active{
    color: white;
}



#footer {
    background-color: #0099cc;
}
.footer-content {
    color: #353839;
    padding-left:40px;
    padding-right:40px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-content a:link {
    color: #353839;
    text-decoration: none;
}
.footer-content a:visited {
    color: #353839;
}
.footer-content a:hover {
    color: #353839;
    border-bottom: none;
}
.footer-content a:active {
    color: #353839;
}



.footer-images {
    display:flex; 
    flex-direction: row;
}
@media(max-width:650px) {
    .footer-images {
        flex-direction: column; 
    }
}

.content a:link {
    color: #353839;
    text-decoration: none;
}
.content a:visited {
    color: #353839;
}
.content a:hover {
    color: #353839;
    border-bottom: dotted 1px;
}
.content a:active {
    color: #353839;
}









/** used for markdown conversion **/
.article-post .title {
  margin: 0;
  font-size: 50px;
   color: #353839;
}
.article-post img{
    width:100%;
    border: 1px dotted;
    border-radius: 3px;
}
  
.article-post pre {
  background-color: rgb(236, 236, 236);
  border-radius: 3px;
  padding: 15px;
  padding-left: 20px;
}
.article-post {
  color: #353839;
}
.article-post small {
  color: #353839;
}
.article-post small a {
  color: #353839;
}
.article-post small span {}
.article-post small span a:hover{
  color:#353839;
  text-decoration: none;
}
.article-post h3 {
  padding-top:40px;
  padding-bottom:20px;
  color:#353839;
}

.article-post h5 {
  padding-bottom:20px;
  color:#353839;
}
.article-post p {
  height:auto;
}
.article-post a {
  color: #353839;
  text-decoration: none;
  border-width: 1px;
  border-bottom-style: dotted;
}
.article-post a:hover {
  color: #353839;
  border-width: 1px;
  border-bottom-style: dotted;
}