<div class="container" style="padding-top: 40px;">
  <div class="content-index">
    <div style="    display: flex;
    flex-direction: column;
    width: 100%;">

      <h1 class="section-header" style="font-size:45px;">Have a word!</h1>
      <p style="height: 25px;"></p>

      <div id="mailingaddress-section">

        <div style="min-width: 50%;text-align: justify;">

          <p>If you have any questions regarding the site or any of its content, I'd love to hear from you!</p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>

        <div style="min-width: 45%;">


          <form style="display: flex; flex-direction: column;width: 100%;">
            <div class="form-group" style="width: 100%;">
              <textarea placeholder="Implement this..." class="form-control" id="exampleFormControlTextarea1"
                rows="3"></textarea>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Implement this...">
            </div>
            <div
              style="display: flex; width: 125px; max-height: 44px;padding: 8px;border-radius: 3px;border: 2px solid black;color:black;justify-content: center;">

              Submit
            </div>

          </form>
        </div>
      </div>

    </div>


  </div>
</div>