<p style="height: 30px;"></p>

<div class="mailing-list-form">
  <div class="mailinglist-box">
    <h1 class="display-4" style="color: white; font-size: 40px;">Want to know more?</h1>
    <p style="color: white;">Pop in your deets in the box and you'll receive a couple of emails a year with new
      posts and beginner to intermediate side projects you're more than welcome to learn from and contribute too!</p>
  </div>

  <div class="mailinglist-box">
    <form action="/add_to_mailinglist/" method="post">
      {% csrf_token %}
      {{ mailing_list_form }}
      <button type="submit" class="button">Subscribe 🡢</button>
    </form>
  </div>
</div>