{% load static %}

<div class="card mb-3">
                <div class="card-body">
                  <h1 class="display-4" style="font-size:24px;">Series</h1>
                  <p style="height:20px;"></p>
                  <p class="card-text">
                                {% for article in articles %} {% if article.id == viewed_article.id %}
                                <strong>{{ forloop.counter }}. {{article.name|title}}</strong> &emsp;
                                <img class="iconic-svg" src="{% static 'blog/svg/eye.svg' %}"
                                        alt="tags icon">
                                <br> {% else %} {{ forloop.counter }}.
                                <a href="/projects/{{ project.id }}/{{ article.id }}">{{article.name|title}}</a>
                                <br> {% endif %} {% endfor %}
                  </p>

                </div>
              </div>