{% extends "blog/base.html" %} {% load static %} {% block content %}



<div class="container content">

        <p style="height:80px"></p>
        <div class="display-4" style="padding-bottom: 40px;">It's all about me!</div>


    <p style="font-size: 20px;">
    Outside of my day job I enjoy building things. The things i like to build vary. Whether its 3d rendered imagery 
        user tools and plugins or software systems its all on a computer. I spend a fair amount of my time on a computer and to offset
        all this sitting i hike. I like to plan a route, pack a bag and hit the closest most isolating forest for a few nights.
</p>


[Socials/contact]<br>
[Resume/technologies]<br>




</div>

{% include "blog/footer.html" %}

{% endblock %}