{% extends "blog/base.html" %} {% load static %} {% block content %}

<div style="background-color: #0099cc;">

        <div class="container content-intro">


                <p style="height:80px"></p>

                <p class="lead" style="font-size: 20px;">My week to week consists of the development of tools and services that improve throughput and efficiency of our
                    stills and film teams. I handle the administration and implementation of our studios pipeline as well as exploring
                    new technologies we can potentially use in the delivery of client products.
<br><br>
                Whether i'm creating 3d rendered imagery, user tools and plugins or full on software systems i sit, <strong>alot</strong>.
                To offset all this sitting i like to plan a route, pack a bag and hit the closest most isolating forest for a few nights.
                This almost always results with me in infront of a fire... Sitting.
        </p>


        </div>


        <p style="height:40px;"></p>

</div>


<div class="container content">

        <p style="height:20px;"></p>

<div class="display-4" style="font-size: 30px;padding-bottom: 20px;font-style: italic;">
What ide/editor do you use?
</div>
<p style="font-size: 20px;text-indent: 40px;">
When i first started learning i'd load up a fresh instance of <strong>Notepad++</strong> but after few months i found myself in need of something a little more powerful.
<br><br>
<strong>Atom</strong> became my editor of choice - I then fell for the negative hype of "it takes too long to open large files", "it uses a whole gig of ram to open a simple file" and "it's sooo slow!".
Even though i can honestly say i never felt any of the pains some of the vocal few obviously did, i eventually installed <strong>Vs Code</strong> and have been quite at home ever since.
</p>
<p style="height:20px;"></p>
<div class="display-4" style="font-size: 30px;padding-bottom: 20px;font-style: italic;">
        Where do you host all the things?
        </div>
        <p style="font-size: 20px;text-indent: 40px;">
Any and everything considered personal work will be on Digitalocean, its cheap and super simple. Flatlands is hosted on it.
The majority of my professional work will be on AWS for no good reason other than its what most clients have heard of - the hype train is real. 
Even so, you can absolutely run production software on Digitalocean.
        </p>


        
[Socials/contact]<br>
[Resume/technologies]<br>


</div>


<div id="footer">
        
    <div class="container footer-content">

<div class="footer-images">
    <div style="padding:5px;">
        
            <a href="https://www.instagram.com"><img style="width:100%;" src="/static/blog/img/hike_01.jpg"></a>
</div>
<div style="padding:5px;">
        <a href="https://www.instagram.com"><img style="width:100%;" src="/static/blog/img/hike_02.jpg"></a>
</div>
<div style="padding:5px;">
        <a href="https://www.instagram.com"><img style="width:100%;" src="/static/blog/img/hike_03.jpg"></a>
</div>
</div>



</div>


</div>



{% endblock %}