{% extends "blog/base.html" %} {% load static %} {% block content %}

<!--
<div style="background-color: #0099cc;">

        <div class="container content-intro">


                <p style="height:80px"></p>

                <p class="lead" style="font-size: 20px;">My week to week consists of the development of tools and services that improve throughput and efficiency of our
                    stills and film teams. I handle the administration and implementation of our studios pipeline as well as exploring
                    new technologies we can potentially use in the delivery of client products.
<br><br>
                Whether i'm creating 3d rendered imagery, user tools and plugins or full on software systems i sit, <strong>alot</strong>.
                To offset all this sitting i like to plan a route, pack a bag and hit the closest most isolating forest for a few nights.
                This almost always results with me in infront of a fire... Sitting.
        </p>


        </div>


       

</div>
-->
<p style="height:40px;"></p>
<p style="height:100px;"></p>


<div class="container content">


        <div style="display: flex; justify-self: center;">

                <div
                        style="display: flex; flex-direction: column;justify-content: flex-start; text-align: right; width: 50%;padding:20px;margin-top:10px;">

                        <p style="font-size: 20px;">
                                Rory Jarrel
                        </p>
                        <p class="display-4" style="font-size: 15px;">
                                brooklyn, new york <i class="fas fa-map-marker-alt"></i><br>
                                <a href="https://github.com/najar1412"><i class="fab fa-github"></i> </a>
                                <a href="https://twitter.com/RoryJarrel"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.instagram.com/roryjarrel/"><i class="fab fa-instagram"></i></a>
                                <a href="mailto://hello@flatlands.io"><i class="far fa-envelope"></i></a>
                        </p>

                </div>


                <div style="display: flex;width: 50%;padding:20px;">
                        <img style="width: 120px; height: 120px;margin-bottom: 20px;"
                                src="{% static 'blog/img/headshot.jpg' %}">


                </div>


        </div>


        <div class="about">

                <div class="about-padding"></div>
                <div>
                        <p class="display-4" style="font-size: 20px;margin-bottom:0px;">
                                technical director at visualhouse.<br>2016-PRESENT.
                        </p>

                        <br>

                        <p class="display-4" style="font-size: 20px;margin-bottom:0px;">
                                things i know about.
                        </p>

                        <p style="font-size: 20px;margin-top:0px;padding-top:0px;border-top:0px;">
                                python, sql, javascript, html, css.
                        </p>

                        <p class="display-4" style="font-size: 20px;margin-bottom:0px;">
                                stuff i build on.
                        </p>

                        <p style="font-size: 20px;margin-top:0px;padding-top:0px;border-top:0px;">
                                django, nginx, react, react-native, qt, postgres, boto, requests, django rest framework.
                        </p>

                        <p class="display-4" style="font-size: 20px;margin-bottom:0px;">
                                services i lean on.
                        </p>
                        <p style="font-size: 20px;margin-top:0px;padding-top:0px;border-top:0px;">
                                aws, digital ocean.
                        </p>

                        <br>
                        <p class="display-4" style="font-size: 20px;margin-bottom:0px;">
                                irl.
                        </p>
                        <p style="font-size: 20px;margin-top:0px;padding-top:0px;border-top:0px;">
                                camping and hiking, travel, cat.
                        </p>
                </div>



        </div>


</div>




<p style="height:70px;"></p>

{% endblock %}