<div id="footer">
        
    <div id="footer-content">
        <div class="display-4" style="padding-bottom: 30px;">Story Time</div>
        <span style="font-weight: bold; text-indent:20px;">
            Hello, I'm Rory! Technical Director of a creative agency based in New york where we predominantly produce computer generated
            still and film visualisations of Architecture both built and unbuilt.
        </span>

        <br>
        <br> My week to week consists of the development of tools and services that improve throughput and efficiency of our
        stills and film teams. I handle the administration and implementation of our studios pipeline as well as exploring
        new technologies we can potentially use in the delivery of client products.

        <br>
        <br> Outside of my day job I enjoy building things. The things i like to build vary. Whether its 3d rendered imagery 
        user tools and plugins or software systems its all on a computer. I spend a fair amount of my time on a computer and to offset
        all this sitting i hike. I like to plan a route, pack a bag and hit the closest most isolating forest for a few nights.

        <br>
        <br>
        <br>
        <br>

        <span style="font-size:12px;">Copyright © 2018 Flatlands. All Rights Reserved.</span>

    </div>

</div>