<div id="footer">
    <div id="footer-content">
        <span style="font-weight: bold;">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
            ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        </span>

        <br>
        <br> I’m Technical Director of a creative agency based in New york. We predominantly produce computer generated still
        and film visualisations of Architecture both built and unbuilt. My week to week consists of the development of tools and
        services that improve throughput and efficiency of our artists. Administration and implementation of our studios
        pipeline.

        <br>
        <br>
        <br>
        <br>

        <span style="font-size:12px;">Copyright © 2018 Flatlands. All Rights Reserved.</span>

    </div>

</div>