<div id="footer">
        
    <div class="container footer-content">
        
            <div class="display-4">Pics</div>


<div class="footer-images">
    <div style="padding:5px;">
        
            <a href="https://www.instagram.com"><img style="width:100%;" src="/static/blog/img/hike_01.jpg"></a>
</div>
<div style="padding:5px;">
        <a href="https://www.instagram.com"><img style="width:100%;" src="/static/blog/img/hike_02.jpg"></a>
</div>
<div style="padding:5px;">
        <a href="https://www.instagram.com"><img style="width:100%;" src="/static/blog/img/hike_03.jpg"></a>
</div>
</div>

<p style="height:40px;"></p>

        <span style="font-size:12px;">Copyright © 2018 Flatlands. All Rights Reserved.</span>
    </div>


</div>