{% extends "blog/base.html" %}

{% load static %}

{% block content %}

<div id="site-title" class="display-4">
        FLATLANDS
    </div>


{% if articles %}


        {% for article in articles %}

            <div class="indexlistpost">

                <div class="blogpostheader">
                    <div class="bloglistpostdate">
                        <img class="iconic-svg" src="{% static 'blog/svg/clock.svg' %}" alt="clock icon">
                        {{article.pub_date|timesince|upper}} AGO
                    </div>
                    <div class="bloglistposttags">
                            <img class="iconic-svg" src="{% static 'blog/svg/tags.svg' %}" alt="tags icon">
                        {% for tag in article.tag_list %}
                            <a href="">{{tag|upper}}, </a>
                        {% endfor %}

                    </div>

                </div>


              

                <div class="bloglistpostname display-4">
                        <!-- <hr style="margin:0px;margin-top:5px;border-top: 1px dashed #8c8b8b;border-bottom: 1px dashed #fff;"> -->
                       {% if article.project == None %}
                       <div><img class="iconic-svg-header" src="{% static 'blog/svg/document.svg' %}" alt="tags icon">&ensp;</div>
                        <div><a href="/articles/{{ article.id }}/">{{ article.name|title }}</a></div>
                        
                        {% else %}
                        <div>
                        <img class="iconic-svg-header" src="{% static 'blog/svg/folder.svg' %}" alt="tags icon">&ensp;
                    </div>
                    <div>
                        <a href="/projects/{{ article.project.id }}/{{article.id}}">{{article.project|title }}: {{ article.name|title }}</a>
                    </div>
                        {% endif %}
                </div>
                  
            </div>

    
        {% endfor %}

        {% else %}
            <p>No posts are available.</p>


    {% endif %}



{% endblock %}

