{% extends "blog/base.html" %} {% load static %} {% block content %}

<!-- hides the header just on the index page-->

<script>
  document.getElementById("menu-article").style.display = "none";
</script>












<div id="mobile-menu">
  <div style="display: flex;align-self: center;margin-top: 21px;">
    <div id="mobile-menu-posts"
      style="margin-right: 15px; cursor: pointer; font-size: 12px;color:dimgrey;padding-bottom: 16px; border-bottom: 0px"
      onclick="menuToggle(this)">POSTS
    </div>

    <div id="mobile-menu-sideprojects"
      style="margin-right: 15px; cursor: pointer; font-size: 12px;color:dimgrey;padding-bottom: 16px; border-bottom: 0px"
      onclick="menuToggle(this)">SIDE PROJECTS
    </div>

    <div id="mobile-menu-about"
      style="cursor: pointer; font-size: 12px;color:dimgrey;padding-bottom: 16px; border-bottom: 0px"
      onclick="menuToggle(this)">ABOUT
    </div>

  </div>


  <a href="#simple-logo"> <img style="position: absolute;right: 0;height: 23px;margin: 18px;margin-right: 18px;"
      src="{% static 'blog/svg/thin-up-arrow.svg' %}" alt="tldr icon"></a>

</div>



<div class="container">







  <div class=" content-index">





    <div class="cinta dos" style="transform: rotate(2deg);    margin-top: 50px;">




      <div id="simple-logo" class="effect2">
        <div>


          <p id="intro" style="text-align: justify;background-color: white;
          padding: 30px;">
            Hello, I'm
            <span><a href="mailto:hello@flatlands.io" style="font-weight: bold;">Rory</a></span>! Technical director at
            a
            digital
            <span style="font-weight: bold;">creative</span> agency based in New York. We predominantly create web/print
            media
            and
            computer generated still and films.
            <br /><br />
            Sometimes i'll write about that, other-times
            <span style="font-weight: bold;">software development and web technology</span> type things.
          </p>

        </div>
      </div>





    </div>





  </div>

</div>




<div class="container">

  <div class="content-index">
    <div style="display: flex; flex-direction: column; max-width: 700px;">
      <div style="display: flex;height: 400px;width: 400px;position: absolute;bottom: -200px;z-index: 999;opacity: .4;">
        <img style="width: 100%;position: absolute;left: -200px;" src="{% static 'blog/img/coffeering.svg' %}"
          alt="tldr icon">
      </div>
      <h1 id="posts" class="section-header" style="font-size:45px;">Posts</h1>





      <div style="display:flex;padding-top: 20px;">
        <div id="posts-recent"
          style="margin-right: 15px; cursor: pointer; font-size: 12px; font-weight: 600;color: black; padding-bottom: 10px; border-bottom: 1px solid black;"
          onclick="postToggle(this)">RECENT
        </div>

        <div id="posts-popular"
          style="margin-right: 15px; cursor: pointer; font-size: 12px;color:dimgrey;padding-bottom: 10px; border-bottom: 0px"
          onclick="postToggle(this)">
          <strike>POPULAR</strike>
        </div>

        <div id="posts-search"
          style="cursor: pointer; font-size: 12px;color:dimgrey;padding-bottom: 10px; border-bottom: 0px"
          onclick="postToggle(this)"><strike>SEARCH</strike>
        </div>

      </div>










      <p style="height: 50px;"></p>
      {% if articles %} {% for article in articles %} {% if article.project == None %}

      <div class="indexlistpost">
        <div class="blogpostimage" style="background: url(https://www.fillmurray.com/580/199)">
          <div style="display: flex; align-self: flex-end;">
            {% for tech in article.tags.all %}

            <div
              style="display: flex; position: relative; top: 18px;margin: 5px;filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, .3));border: 20px;border-radius: 30px; overflow: hidden;">
              <a href="{{tech.website}}">
                <img class="tech-icon" src="{% static 'blog/img/'|add:tech.small_logo %}" alt="{{tech}} icon" />
              </a>
            </div>

            {% endfor %}
          </div>
        </div>
        <div class="blogpostheader">
          <div class="bloglistpostdate">
            <i class="far fa-clock"></i>
            {{ article.pub_date | timesince | upper }} AGO
          </div>
          <div class="bloglistpostdate">
            <i class="fas fa-tags"></i> {% for tag in article.tags.all %}
            <a href="/search/{{tag|lower}}" style="color: black;">{{tag|upper}}</a>, {% endfor %}
          </div>
        </div>

        <div class="section-header bloglistpostname">
          <a href="/articles/{{article.id}}/"
            style="text-align: justify;font-weight: 600;">{{ article.name | title }}.</a>
        </div>
        <div style="font-size: 16px;color: black;text-align: justify;overflow-wrap: break-word;">
          {{ article.strap | capfirst | truncatewords:40 }}
        </div>
        <a href="/articles/{{article.id}}/" style="text-align: justify;">
          <div
            style="display: flex; width: 125px; padding: 8px;border-radius: 3px;border: 2px solid black;color:black;justify-content: center;margin-top:20px;">
            Read More
          </div>
        </a>
      </div>

      <p style="height:10px;"></p>

      {% endif %} {% endfor %} {% else %}
      <p>No Articles :(</p>

      {% endif %}
    </div>

    <div class="project-comp">
      <div>
        {% include "blog/side_projects.html" %}
      </div>
    </div>
  </div>



</div>




{% endblock %}