<div style="background-color: black;color: white;padding: 30px;margin-top: 50px;">





    <footer>
        <div class="row">
            <div class="footer-column">
                <h1 class="display-4" style="font-size:45px;">TL;DR</h1>
                <p>“...”</p>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">...</a></li>
                    <li><a class="text-muted" href="#">...</a></li>
                    <li><a class="text-muted" href="#">...</a></li>
                    <li><a class="text-muted" href="#">...</a></li>
                    <li><a class="text-muted" href="#">...</a></li>
                    <li><a class="text-muted" href="#">...</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h1 class="display-4" style="font-size:45px;">Skill</h1>
                <p>“A jack of all trades is a master of none, but oftentimes better than a master of one.”</p>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Languages</a></li>
                    <ul>
                        <li><a class="text-muted" href="#">Python</a></li>
                        <li><a class="text-muted" href="#">JavaScript</a></li>
                        <li><a class="text-muted" href="#">SQL</a></li>
                    </ul>

                    <li><a class="text-muted" href="#">Frameworks</a></li>
                    <ul>
                        <li><a class="text-muted" href="#">Django, Django Rest Framework, Flask</a></li>
                        <li><a class="text-muted" href="#">React, Three</a></li>
                    </ul>

                    <li><a class="text-muted" href="#">Databases</a></li>
                    <ul>
                        <li><a class="text-muted" href="#">Postgres, MySQL</a></li>
                    </ul>
                    <li><a class="text-muted" href="#">Platforms</a></li>
                    <ul>
                        <li><a class="text-muted" href="#">Web</a></li>
                        <li><a class="text-muted" href="#">Mobile</a></li>
                        <li><a class="text-muted" href="#">VR/AR</a></li>
                    </ul>
                </ul>
            </div>
            <div class="footer-column">
                <h1 class="display-4" style="font-size:45px;">Grind</h1>
                <p>“Opportunity is missed by most people because it is dressed in overalls and looks like work.”</p>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Technical Director</a></li>

                    <ul>
                        <li><a class="text-muted" href="#">2016-present</a></li>
                        <li><a class="text-muted" href="#">New York, USA</a></li>
                    </ul>


                    <li><a class="text-muted" href="#">Senior Digital Compositor</a></li>


                    <ul>
                        <li><a class="text-muted" href="#">2013-2016</a></li>
                        <li><a class="text-muted" href="#">New York, USA</a></li>
                    </ul>



                    <li><a class="text-muted" href="#">3D Modelling and Animation Artist</a></li>


                    <ul>
                        <li><a class="text-muted" href="#">2010-2012</a></li>
                        <li><a class="text-muted" href="#">Bangkok, Thailand</a></li>
                    </ul>








                </ul>

                <small>Request Resume</small>
            </div>
        </div>
    </footer>