<div style="background-color: black;color: white;padding: 30px;margin-top: 50px;">





    <footer>
        <div class="row">
            <div class="footer-column">
                <h1 class="display-4" style="font-size:45px;">TL;DR</h1>
                <p>Character sheet style tidbits of text about me!</p>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">...</a></li>
                    <li><a class="text-muted" href="#">...</a></li>
                    <li><a class="text-muted" href="#">...</a></li>
                    <li><a class="text-muted" href="#">...</a></li>
                    <li><a class="text-muted" href="#">...</a></li>
                    <li><a class="text-muted" href="#">...</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h1 class="display-4" style="font-size:45px;">Skill</h1>
                <p>....</p>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Resource</a></li>
                    <li><a class="text-muted" href="#">Resource name</a></li>
                    <li><a class="text-muted" href="#">Another resource</a></li>
                    <li><a class="text-muted" href="#">Final resource</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h1 class="display-4" style="font-size:45px;">Grind</h1>
                <p>A jack of all trades is a master of none, but oftentimes better than a master of one.</p>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Technical Director</a></li>

                    <ul>
                        <li><a class="text-muted" href="#">2016-present</a></li>
                        <li><a class="text-muted" href="#">New York, USA</a></li>
                    </ul>


                    <li><a class="text-muted" href="#">Senior Digital Compositor</a></li>


                    <ul>
                        <li><a class="text-muted" href="#">2013-2016</a></li>
                        <li><a class="text-muted" href="#">New York, USA</a></li>
                    </ul>



                    <li><a class="text-muted" href="#">3D Modelling and Animation Artist</a></li>


                    <ul>
                        <li><a class="text-muted" href="#">2010-2012</a></li>
                        <li><a class="text-muted" href="#">Bangkok, Thailand</a></li>
                    </ul>








                </ul>

                <small>Request Resume</small>
            </div>
        </div>
    </footer>