{% load static %}

<div style="    background-color: black;color: white;padding: 30px;padding-top: 150px;margin-top: 150px;">





    <footer id="about">
        <div class="row">
            <div class="footer-column">
                <img class="about-image" src="{% static 'blog/svg/003-eye.svg' %}" alt="tldr icon">
                <p class="section-header" style="font-size:24px; text-align: center;">“Curiosity killed the cat, But
                    satisfaction brought it
                    back.”</p>
                <p style="height:20px;"></p>
                <img style="width: 100%;" src="{% static 'blog/img/cat_01.jpg' %}" alt="tldr icon">
                <p class="list-unstyled text-small text-muted" style="text-align: center;">Feeder of this thing.</p>
            </div>
            <div class="footer-column">
                <img class="about-image" src="{% static 'blog/svg/002-skills.svg' %}" alt="tldr icon">
                <p class="section-header" style="font-size:24px; text-align: center;">“A jack of all trades is a master
                    of none, but
                    oftentimes better than a master
                    of one.”</p>
                <ul class="list-unstyled text-small text-muted">
                    <li>Languages</li>
                    <ul>
                        <li>Python</li>
                        <li>JavaScript</li>
                        <li>HTML, CSS</li>
                        <li>SQL</li>
                    </ul>

                    <li>Dev Ops</li>
                    <ul>
                        <li>Ubuntu</li>
                        <li>NginX, Apache2</li>
                    </ul>

                    <li>Platforms</li>
                    <ul>
                        <li>Web</li>
                        <li>Mobile</li>
                        <li>VR/AR</li>
                    </ul>

                    <li>Databases</li>
                    <ul>
                        <li>Postgres, MySQL</li>
                    </ul>

                    <li>Frameworks</li>
                    <ul>
                        <li>Django, Django Rest Framework, Flask</li>
                        <li>React, Three, Expo</li>
                    </ul>



                </ul>
            </div>
            <div class="footer-column">
                <img class="about-image" src="{% static 'blog/svg/001-candidate.svg' %}" alt="tldr icon">
                <p class="section-header" style="font-size:24px; text-align: center;">“Opportunity is missed by most
                    people because it is
                    dressed in overalls and looks like work.”</p class="section-header" style="font-size:24px;">
                <ul class="list-unstyled text-small text-muted">
                    <li>Technical Director</li>

                    <ul>
                        <li>2016-present</li>
                        <li>New York, USA</li>
                    </ul>


                    <li>Senior Digital Compositor</li>


                    <ul>
                        <li>2013-2016</li>
                        <li>New York, USA</li>
                    </ul>



                    <li>3D Modelling and Animation Artist</li>


                    <ul>
                        <li>2010-2012</li>
                        <li>Bangkok, Thailand</li>
                    </ul>








                </ul>

                <small>Request Resume</small>
            </div>
        </div>
    </footer>