{% extends "blog/base.html" %} {% load static %} {% block content %}


<p style="height: 30px;"></p>

    <div class="bloglistpostname" style="border-radius: 3px;padding-left: 20px; padding-right: 20px; padding-top:40px; width:100%; background: linear-gradient(135deg, rgba(99,182,219,1) 0%,rgba(48,157,207,1) 100%);">

        <div class="container content" style="display: flex;">
            <div style="display: flex; flex-direction: column;align-self: flex-end;">

                    <p class="display-4" style="color:white;font-size: 80px;">
                            {{ project.name|title }}
                    </p>
                    <p class="display-4" style="color:white;font-size: 20px;font-style: italic;">
                            {{ project.strap|title }}
                    </p>



            </div>
</div>
        </div>
   




<div class="container content">

    <p style="height:30px;"></p>

    <div class="project-comp">




            <div class="card">
                    <div class="card-body">    

                            <div class="display-4" style="font-size:24px;padding-bottom:20px;">Overview</div>


                            <div style="display: flex; flex-direction: row; justify-content: space-between">
                               
                                    <div style="display: flex; flex-direction: column;">
    <div style="display: flex; flex-direction: row;">
                                    <div>
                                            <span style="font-size: 12px;">
                                                    <img class="iconic-svg-small" src="{% static 'blog/svg/code.svg' %}" alt="code icon">
                                                    <a href="{{project.repo}}">code</a>
                                            </span>
                                            
                                    </div>
                                    <div style="padding-left:10px;">
                                            <span style="font-size: 12px;">
                                                    <img class="iconic-svg-small" src="{% static 'blog/svg/browser.svg' %}" alt="code icon">
                                                    <s><a href="#">demo</a></s>
                                            </span>
                                            
                                    </div>

                                </div>


<br>

                                    <div style="display: flex;">
                                            {% for tech in used_software %}
                                            <a href="{{tech.website}}">
                                                    <img style="width:30px;height:30px;" src="{% static 'blog/img/'|add:tech.small_logo %}" alt="{{tech}} icon">
                                            </a>
                                            {% endfor %}
                                        </div>
                        



                            </div>
                            </div>

                    </div>
                  </div>

                  <p style="height: 20px;"></p>

























    {% if markdown_headers|length > 1 %}


<div>






        <div class="card">
                <div class="card-body">
                        <div class="display-4" style="font-size:24px;padding-bottom:20px;">Contents</div>
                        <ul style="list-style-type:circle">
        
                            
        
                      {% for header in markdown_headers %}
                      <li><a href="#{{header}}">{{header}}</a></li>
                      {% endfor %}
                      </ul>
        
                </div>
              </div>




</div>


{% endif %}


    </div>




    <div class="article-post">
        {{ article_content|capfirst|safe }}
    </div>


<p style="height:50px;"></p>


{% if articles|length > 1 %}





    <div class="project-next">



        {% if project_nav.0 != -1 %}



        <div>
               
                    <a href="/projects/{{ project.id }}/{{ project_nav.0 }}" class="btn btn-light" role="button" aria-disabled="true">
                    <div class="display-4" style="font-size:24px; color:black;">Previous</div>
                    <div style="color:black;">Article in series</div>
                </a>
             
            </div>



        {% else %}




        <div><a href="#" class="btn btn-light disabled" role="button" aria-disabled="true">
            <div class="display-4" style="font-size:24px; color:black;"><s>Previous</s></div>
            <div style="color:black;"><s>Article in series</s></div>
        </a></div>
        {% endif %}



       


        {% if project_nav.1 != -1 %}
        <div>
            
                <a href="/projects/{{ project.id }}/{{ project_nav.1 }}" class="btn btn-light" role="button" aria-disabled="true">
                        <div class="display-4" style="font-size:24px;color:black;">Next</div>
                        <div style="color:black;">Article in series</div>
                </a>
                
         
        </div>
        {% else %}
        <div><a href="#" class="btn btn-light disabled" role="button" aria-disabled="true">
                <div class="display-4" style="font-size:24px; color:black;"><s>Next</s></div>
                <div style="color:black;"><s>Article in series</s></div>
            </a></div>
        {% endif %}

    </div>
    {% endif %}


</div>

<p style="height:50px;"></p>

<div class="container content">
        {% include "blog/comp/mailinglist.html" %}
        </div>

{% endblock %}