{% extends "blog/base.html" %} {% load static %} {% block content %}


<div style="background-color: #0099cc;">

        <div class="container content-intro">
                <p style="height:80px"></p>
                <p class="lead" style="font-size: 20px;">
                Side projects are a great way to explore new technologies and develop best practises.
                Documenting ideas forces you to take as much information into consideration for when the time comes to actually code it.
                <br>

                <br>
                Each projects will follow a similar structure of putting a technical spec of what'll be accomplish. 
                Document the problems and their solutions as they arise as well as any thoughts i have along the way. 
                Finally, I’ll discuss their successes and weaknesses and the different paths i'll want to take in the future for solving similar problems.
        </p>
        </div>
        <p style="height:30px;"></p>
</div>









<div class="container content">
                <p style="height:20px;"></p>
        {% if projects %} {% for project in projects %}

        <div class="card">
                <div class="card-header">
                        <div style="display: flex; flex-direction: row; justify-content: space-between">
                                <div>
                                        <a style="font-size: 24px;" href="/projects/{{ project.id }}/">{{project.name|capfirst}}</a>
                                </div>
                                <div>
                                        <span style="font-size: 12px;">
                                                <img class="iconic-svg-small" src="{% static 'blog/svg/code.svg' %}" alt="code icon">
                                                <a href="{{project.repo}}">Repo</a>
                                        </span>
                                        
                                </div>
                        </div>
                </div>
                <div class="card-body">
                        <div>
                                {{project.content|capfirst|truncatewords:50}}
                        </div>

                        <hr>
                        <div>
                                {% for tech in project.usedsoftware_set.all %}
                                <a href="{{tech.website}}">
                                        <img class="tech-icon" src="{% static 'blog/img/'|add:tech.small_logo %}" alt="{{tech}} icon">
                                </a>
                                {% endfor %}
                        </div>
                </div>
        </div>
        <br> {% endfor %} {% else %} No Projects :( {% endif %}
</div>
{% endblock %}