{% extends "blog/base.html" %} {% load static %} {% block content %}

<div class="content">

                <div style="padding-top:100px;padding-bottom:40px;">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>

        {% if projects %}

        

        {% for project in projects %}



        <div class="card">
                <div class="card-header">
                        <div style="display: flex; flex-direction: row; justify-content: space-between">
                                <div>
                                        <a style="font-size: 24px;" href="/projects/{{ project.id }}/">{{project.name|capfirst}}</a>
                                </div>
                                <div>
                                        <img class="iconic-svg-small" src="{% static 'blog/svg/file.svg' %}" alt="file icon">
                                        <span style="font-size: 12px;">
                                                <a href="#">Technical Spec</a> &emsp;
                                                <img class="iconic-svg-small" src="{% static 'blog/svg/code.svg' %}"
                                                        alt="code icon">
                                                <a href="#">Repo</span>
                                        </a>
                                </div>
                        </div>

                </div>
                <div class="card-body">
                        <div>
                                {{project.content|truncatewords:50}}
                        </div>

                        <hr>
                        <div>
                                {% for tech in project.usedsoftware_set.all %}
                                <a href="{{tech.website}}">
                                        <img class="tech-icon" src="{% static 'blog/img/'|add:tech.small_logo %}" alt="{{tech}} icon">
                                </a>
                                {% endfor %}
                        </div>
                </div>
        </div>
        <br> {% endfor %}

        {% else %}

        No Projects :(

        {% endif %}
</div>
{% endblock %}