{% extends "blog/base.html" %}

{% load static %}

{% block content %}

<div id="breadcrumbs">
    Project &emsp; > &emsp; {{project.name}}
</div>

<div class="bloglistpostname display-4">
        {{ project.name|title }}
        <hr style="margin:0px;margin-top:5px;border-top: 1px dashed #8c8b8b;border-bottom: 1px dashed #fff;">
</div>



<div class="project-contents">
        Contents:<br>
        <br>
        {% for article in articles %}
        {% if article.id == viewed_article.id %}
        <strong>{{ forloop.counter }}. {{article.name|title}}</strong> &emsp; <img class="iconic-svg" src="{% static 'blog/svg/eye.svg' %}" alt="tags icon"> <br>
        {% else %}
        {{ forloop.counter }}. <a href="/projects/{{ project.id }}/{{ article.id }}">{{article.name|title}}</a><br>
        {% endif %}
         {% endfor %}
        </div>

{{project.content}}

<br>
<br>

<hr style="margin:0px;margin-top:5px;border-top: 1px dashed #8c8b8b;border-bottom: 1px dashed #fff;">

<div class="project-next">
                <div>
                                
                        </div>
        <div>
        [next project article]&emsp;<img class="iconic-svg" src="{% static 'blog/svg/arrow-right.svg' %}" alt="arrow icon">
</div>
</div>




{% endblock %}