{% extends "blog/base.html" %}

{% load static %}

{% block content %}

<div class="content">

<div id="breadcrumbs">
    Project &emsp; > &emsp; {{project.name}}
</div>


<div class="bloglistpostname display-4">
        {{ project.name|title }}
        <hr style="margin:0px;margin-top:5px;border-top: 1px dashed #8c8b8b;border-bottom: 1px dashed #fff;">
</div>



{% include "blog/comp/project_contents.html" %}



        <p style="height:40px;"></p>

<hr style="margin:0px;margin-top:5px;border-top: 1px dashed #8c8b8b;border-bottom: 1px dashed #fff;">

<div class="project-next">
                <div>
                                
                        </div>
        <div>
        [next project article]&emsp;<img class="iconic-svg" src="{% static 'blog/svg/arrow-right.svg' %}" alt="arrow icon">
</div>
</div>

</div>


{% endblock %}