{% extends "blog/base.html" %}

{% load static %}

{% block content %}

<div class="content">

<div id="breadcrumbs">
    Project &emsp; > &emsp; {{project.name}} &emsp; > &emsp; {{viewed_article.name}}
</div>

<div class="bloglistpostname display-4">
        {{ project.name|title }}
        <hr style="margin:0px;margin-top:5px;border-top: 1px dashed #8c8b8b;border-bottom: 1px dashed #fff;">
</div>

<div>
    <img style="width:100%;" src="{% static 'blog/img/'|add:project.cover_img %}">
</div>

<p style="height:40px;"></p>

{% include "blog/comp/project_contents.html" %}

<p style="height:40px;"></p>

<div class="indexlistpost">

    <div class="blogpostheader">
        <div class="bloglistpostdate">
            <img class="iconic-svg" src="{% static 'blog/svg/clock.svg' %}" alt="clock icon">
            {{viewed_article.pub_date|timesince|upper}} AGO
        </div>

        <div class="bloglistposttags">
            <img class="iconic-svg" src="{% static 'blog/svg/tags.svg' %}" alt="tags icon">
            {% for tag in viewed_article.tag_list %}
                <a href="">{{tag|upper}}, </a>
            {% endfor %}
        </div>

    </div>

    <div class="bloglistpostname display-4">
            <hr style="margin:0px;margin-top:5px;border-top: 1px dashed #8c8b8b;border-bottom: 1px dashed #fff;">

            {{ viewed_article.name|title }}

    </div>



</div>


<div class="article-post">
    {{ article_content|capfirst|safe }}
</div>

<br>

<hr style="margin:0px;margin-top:5px;border-top: 1px dashed #8c8b8b;border-bottom: 1px dashed #fff;">

<div class="project-next">
    <div>
        <img class="iconic-svg" src="{% static 'blog/svg/arrow-left.svg' %}" alt="arrow icon"> [previous project article]
    </div>
    <div>
        [next project article] <img class="iconic-svg" src="{% static 'blog/svg/arrow-right.svg' %}" alt="arrow icon">
    </div>
</div>

</div>

{% endblock %}