{% extends "blog/base.html" %}

{% load static %}

{% block content %}





<div class="container content">

        <div id="breadcrumbs">
                Search &emsp; > &emsp; {% for word in search %}{{word}} {% endfor %}
            </div>

        <p style="height:40px"></p>
    
    {% if articles %}
    
    <h1 class="display-4">Found Articles</h1>
    <p style="height:20px"></p>

    {% for article in articles %}

    <div class="indexlistpost">

            <p style="height:20px;"></p>
        
        <div class="blogpostheader">
            <div class="bloglistpostdate">
                <img class="iconic-svg" src="{% static 'blog/svg/clock.svg' %}" alt="clock icon"> {{article.pub_date|timesince|upper}} AGO
            </div>
            <div class="bloglistposttags">
                <img class="iconic-svg" src="{% static 'blog/svg/tags.svg' %}" alt="tags icon"> {% for tag in article.tags.all %}
                <a href="/search/{{tag|lower}}" style="color: #233452;">{{tag|upper}}</a>, 
                {% endfor %}
            </div>
        </div>

        <div class="bloglistpostname display-4">
            <div>
                {% if article.project == None %}
                <a href="/articles/{{ article.id }}/">{{ article.name|title }}</a>
                {% else %}
                <a href="/projects/{{article.project.id}}/{{ article.id }}">{{article.project|title}}: {{ article.name|title }}</a>
                
                {% endif %}
            </div>
        </div>

        
        
    </div>

    {% endfor %} {% else %}
    <h1 class="display-4">No Articles Found :(</h1>
    <p style="height:20px"></p>

    {% endif %}

</div>


{% endblock %}