{% load static %}

<h1 id="sideprojects" class="section-header" style="font-size:45px;">Side Projects</h1>
<div style="display:flex;padding-top: 20px;">


  <div id="side-projects-showcase"
    style="margin-right: 15px; cursor: pointer; font-size: 12px;color:dimgrey;padding-bottom: 10px; border-bottom: 0px"
    onclick="sideProjectToggle(this)">SHOWCASE (0)
  </div>

  <div id="side-projects-current"
    style="cursor: pointer; font-size: 12px; font-weight: 600;color: black; padding-bottom: 10px; border-bottom: 1px solid black;"
    onclick="sideProjectToggle(this)">CURRENT (2)
  </div>

</div>

<p style="height: 50px;"></p>



<div id="current-side-projects" style="display: block;">

  {% for project in projects %}


  {% if project.showcase == False %}


  <div class="card mb-3 side-project-card" style="font-family: 'Indie Flower', cursive; filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, .03));border: 0;border-radius: 0;
    background-image: url({% static 'blog/img/scrap_paper.jpg' %});">
    <i class="pin" style="display: flex;position: relative;top: 30px;"></i>

    {% if project.name == 'trippy' %}

    <div class="whiteboard-marker">*<span style="
    right: -20px;
      position: relative;
      top: -40px;
      font-size: 30px;
      font-weight: bolder;">Quarantimes 2020</span></div>

    {% endif  %}

    <div class="card-body">
      <h5 class="card-title">
        <div style="display: flex;flex-direction: column;padding-bottom: 25px;">
          <div>
            <h5 class="card-title" style="font-weight: 600;font-size: 30px;">
              {{project.name|capfirst}}
            </h5>
          </div>

          <div style="display: flex;">
            <div style="display: flex; flex-direction: row; justify-content: space-between">
              <div style="display: flex;">
                <div>
                  {% if project.repo == None %}
                  {% else %}
                  <span style=" font-size: 14px;">
                    <a href="{{project.repo}}" target="_blank">
                      <i class="fas fa-code"></i>
                      code (+)
                    </a>
                  </span>
                  {% endif %}
                </div>
                <div style="padding-left:10px;">
                  {% if project.demo == None %}
                  {% else %}
                  <span style="font-size: 14px;">
                    <a href="{{project.demo}}" target="_blank">
                      <i class="fas fa-play"></i>
                      demo (+)</a>
                  </span>
                  {% endif %}
                </div>
              </div>
            </div>
      </h5>
      {% if project.cover_img ==  'None' %}
      <div
        style="width: 100%;background-color: #aaacad44;margin-bottom: 20px;filter: drop-shadow(rgba(0, 0, 0, 0.1) 4px 4px 4px);">
        <img style="width: inherit;height: auto;border-radius: 3px; border:1px solid rgba(0, 0, 0, .05);"
          src="https://www.fillmurray.com/350/150">
      </div>




      {% else %}
      <div
        style="width: 100%;background-color: #aaacad44;margin-bottom: 20px;filter: drop-shadow(rgba(0, 0, 0, 0.1) 2px 2px 4px);">

        <img style="width: inherit;height: auto;border-radius: 3px; border:1px solid rgba(0, 0, 0, .05);"
          src="{% static 'blog/projects/'|add:project.name|add:'/'|add:project.cover_img %}">
      </div>
      {% endif %}

      <p style="font-size: 10px;"><strong>PLATFORM : </strong>{{project.platform|capfirst}}</p>


      <p class="card-text" style="text-align: justify;">
        {{project.strap|capfirst|truncatewords:50}}

      </p>


      <div>
        {% for tech in project.usedsoftware_set.all %}
        <a href="{{tech.website}}">
          <img class="tech-icon" src="{% static 'blog/img/'|add:tech.small_logo %}" alt="{{tech}} icon">
        </a>
        {% endfor %}
      </div>


      <s>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </s>
    </div>
  </div>

  {% endif %}
  {% endfor %}
</div>






<div id="showcase-side-projects" style="display: none;">

  {% for project in projects reversed %}


  {% if project.showcase == True %}

  <div class="card mb-3 side-project-card"
    style="filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, .03));border: 0;border-radius: 0;">
    <i class="pin" style="display: flex;position: relative;top: 30px;"></i>

    <div class="card-body">
      <h5 class="card-title">
        <div style="display: flex;flex-direction: column;padding-bottom: 25px;">
          <div>
            <h5 class="card-title" style="font-weight: 600;font-size: 30px;">
              {{project.name|capfirst}}
            </h5>
          </div>

          <div style="display: flex;">
            <div style="display: flex; flex-direction: row; justify-content: space-between">
              <div style="display: flex;">
                <div>
                  {% if project.repo == None %}
                  {% else %}
                  <span style="font-size: 14px;">
                    <a href="{{project.repo}}" target="_blank">
                      <i class="fas fa-code"></i>
                      code (+)
                    </a>
                  </span>
                  {% endif %}
                </div>
                <div style="padding-left:10px;">
                  {% if project.demo == None %}
                  {% else %}
                  <span style="font-size: 14px;">
                    <a href="{{project.demo}}" target="_blank">
                      <i class="fas fa-play"></i>
                      demo (+)</a>
                  </span>
                  {% endif %}
                </div>
              </div>
            </div>
      </h5>
      {% if project.cover_img ==  'None' %}
      <div style="width: 100%;background-color: #aaacad44;margin-bottom: 20px;">
        <img style="width: inherit;height: auto;border-radius: 3px; border:1px solid rgba(0, 0, 0, .05);"
          src="https://www.fillmurray.com/350/150">
      </div>




      {% else %}
      <div style="width: 100%;background-color: #aaacad44;margin-bottom: 20px;">
        <img style="width: inherit;height: auto;border-radius: 3px; border:1px solid rgba(0, 0, 0, .05);"
          src="{% static 'blog/projects/'|add:project.name|add:'/'|add:project.cover_img %}">
      </div>
      {% endif %}

      <p style="font-size: 10px;"><strong>PLATFORM : </strong>{{project.platform|capfirst}}</p>


      <p class="card-text" style="text-align: justify;">
        {{project.strap|capfirst|truncatewords:50}}

      </p>


      <div>
        {% for tech in project.usedsoftware_set.all %}
        <a href="{{tech.website}}">
          <img class="tech-icon" src="{% static 'blog/img/'|add:tech.small_logo %}" alt="{{tech}} icon">
        </a>
        {% endfor %}
      </div>




      <s>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </s>
    </div>
  </div>

  {% endif %}

  {% endfor %}
</div>

</div>

<script>

  function sideProjectToggle(el) {
    var parent = el.parentElement;
    for (var i = 0; i < parent.children.length; i++) {
      if (parent.children[i].id === el.id) {
        el.style.fontWeight = 600;
        parent.children[i].style.color = 'black';
        parent.children[i].style.borderBottom = '1px solid black';

        var nameArray = el.id.split("-")
        var name = nameArray[nameArray.length - 1];
        var sideProjectName = name + '-side-projects'

        var ttt = document.getElementById(sideProjectName);
        ttt.style.display = 'block';
      }
      else {
        parent.children[i].style.fontWeight = 300;
        parent.children[i].style.color = 'dimgray';
        parent.children[i].style.borderBottom = 0;

        var nameArray = parent.children[i].id.split("-")
        var name = nameArray[nameArray.length - 1];
        var sideProjectName = name + '-side-projects'

        var ttt = document.getElementById(sideProjectName);
        ttt.style.display = 'none';
      }
    }
  }

  function randomIntFromInterval(min, max) { // min and max included 
    return Math.floor(Math.random() * (max - min + 1) + min);
  }

  function wha() {
    // random whole number between 100 250
    // return needs to be position of the pin
    var pins = document.getElementsByClassName('pin');
    for (pin in pins) {
      try {
        pins[pin].style.left = randomIntFromInterval(100, 250) + 'px'
      } catch (err) {

      }

    }
  }

  wha();

</script>